header{
        
        background-image: url("../img/assets/backgraound2.webp");
        background-size: cover;
        background-position-x: center;
        background-position-y: 25%;
        height: 610px;
            .container_header_link{
                background-color:$ColorHeaderRedes;
                border-radius: 0px 0px 10px 10px;
                display: flex ;
                padding: 5px;
                justify-content: center;
                height: auto;
                    .btn-social:hover{
                        transition-duration: 0.6s;
                        transform: scale(1.2);
                        transform-origin: top;
                    }
                    .icon_socialini{
                        width: 31px;
                    }
                    .icon_social_musicalini{
                        width: 31px;
                    }
                    
            }
        .container_nav_header{
            border-radius: 5px;
            background-color: $ColorPrincipal;
            margin: 30px;
            display: flex;
            
            .navbar-brand{
                text-decoration: none;
                font-size: larger;
                font-family: $FuentePrincipal;
            }
            .navbar{
                background-color: $ColorPrincipal;
                
            }
                .nav-link{
                    font-size: larger;
                    color: white;
                    font-family: $FuentePrincipal;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.781);
                        width: max-content;
                        color: black;
                        border-radius: 10px;
                    }
                    
                }
            
            
        
        }
}

.headerfondos{
    background-image: url("../img/assets/backgroundFondos.webp");
    background-size: cover;
    background-position-x: center;
    background-position-y: 25%;
    height: 610px;
    
}
.headerdisco{
    background-image: url("../img/assets/backgroundiscografia.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: 50%;
    height: 610px;
}
.headerbio{
    background-image: url("../img/assets/R2.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: 5%;

}
.headercontacto{
    background-image: url("../img/assets/BackgroundContacto.jpg");
    
}